<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ProblemShare</title>

    @Styles.Render("~/Content/materialadmin")
</head>
<body>
    <header id="header" class="clearfix" data-ma-theme="blue">
        <ul class="h-inner">
            <li class="hi-logo hidden-xs">
                @Html.ActionLink("ProblemShare", "Index")
            </li>

            <li class="pull-right">
                <ul class="hi-menu">

                    <li data-ma-action="search-open">
                        <a href=""><i class="him-icon zmdi zmdi-search"></i></a>
                    </li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#"><i class="him-icon zmdi zmdi-more-vert"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li class="hidden-xs">
                                <a data-ma-action="fullscreen" href="">Toggle Fullscreen</a>
                            </li>
                            <li>
                                <a href="">Privacy Settings</a>
                            </li>
                            <li>
                                <a href="">Other Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Top Search Content -->
        <div class="h-search-wrap">
            <div class="hsw-inner">
                <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
                <input type="text">
            </div>
        </div>
    </header>

    <section id="main">
        <aside id="sidebar" class="sidebar c-overflow">
            <div class="s-profile">
                <a href="" data-ma-action="profile-menu-toggle">
                    <div class="sp-pic">
                        <img src="~/MaterialAdmin/img/demo/profile-pics/1.jpg" alt="">
                    </div>

                    <div class="sp-info">
                        @User.Identity.Name
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </a>

                <ul class="main-menu">
                    <li>
                        <a href=""><i class="zmdi zmdi-account"></i> View Profile</a>
                    </li>
                    <li>
                        <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
                    </li>
                    <li>
                        <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Account")"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                    </li>
                </ul>
            </div>

            @Html.MvcSiteMap().Menu("MaterialMenuHelper")
            
        </aside>

        <section id="content">
            <div class="container">
                <div class="card">
                    <div class="card-body card-padding">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>

    </section>

    <footer id="footer">
        Copyright &copy; 2016 ProblemShare

        <ul class="f-menu">
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("About", "About")</li>
            <li>@Html.ActionLink("Contact", "Contact")</li>
        </ul>
    </footer>

    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", false)
</body>
</html>
