<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title</title>

        <!-- Add CSS Here -->
        @Styles.Render("~/Content/materialadmin")
    </head>

    <body>
        <div class="login-content">
            @RenderBody()
        </div>

        <!-- Scripts -->
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", false)
    </body>
</html>